.logo img{
    padding: 50px 0;
}
.btn-group{
    width: 502px;
}
.carForm1{
    width: 232px;
    height: 252px;
    right: 10px;
}
.carForm2{
    margin-top: 40px;
    width: 502px;

    text-align: center;
}
.hght{
    height: 20px;
}
table{
    text-align: left;  
}
.bShadow{
    box-shadow: 0 0 5px 2px #9abbce; 
}
/*-------------------------------*/
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + span {
    display: block;
    position: relative;
    padding: 0.2em 0.7em;
    cursor: pointer;
    width: 12.2em;
    margin: 0.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
input[type="checkbox"] + span::before {
    content: "";
    position: absolute;
    left: -1em;
    top: 0.4em;
    width: 1em;
    height: 1em;
    border: 1px solid #2196F3;
    border-radius: 0;
}
input[type="checkbox"]:checked + span::after {
    content: "\2713";
    position: absolute;
    left: -1em;
    top: 0.4em;
    color: #2196F3;
    line-height: 1em;
    font-weight: 600;
    width: 1em;
    text-align: center;
}
.carForm1 span:hover{
    background-color: #F1FCFF;
    box-shadow: -2em 0 0 0 #F1FCFF;
}
/*-------------------------------*/